:root {
    /* --color-background: #000000; */
    --axis-x: 1px;
    --axis-y: 1rem;
    --delay: 10;
    --color-black: #000;
    --color-white: #fff;
    --color-orange: #d49c3d;
    --color-red: #d14b3d;
    --color-violet: #cf52eb;
    --color-blue: #44a3f7;
    --color-green: #5acb3c;
    --color-yellow: #debf40;
    --color-foreground: var(var(--color-white));
    --font-name: Righteous;
}
* {
    background-color: red;
}

html, body {
    font-size: 24px;
}
body {
    background-color: var(--color-background);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-name);
}